<!-- Pop Up Starter -->

<div id="pop-up-bg" *ngIf="showForm" >
  <ion-toolbar id="pop-up">
    <form (ngSubmit)="registerUsername()" id="form-pop-up">
      <ion-item>
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input type="text" [(ngModel)]="pseudo" name="pseudo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Avatar URL</ion-label>
        <ion-input type="text" [(ngModel)]="avatarUrl" name="avatarUrl" value="avatarUrl"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Submit</ion-button>
    </form>
  </ion-toolbar>
</div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenu principal de la page -->
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start">
        <img [src]="avatarUrl"> <!-- Utilisez l'URL de l'avatar du message -->
      </ion-avatar>
      <ion-label>
        <h2 id="pseudo">{{ message.sender }}</h2>
        <p class="message-bubble" [ngClass]="{'current-user-message sent': message.sender === pseudo, 'other-user-message received': message.sender !== pseudo}">{{ message.content }}</p>
      </ion-label>
    </ion-item>
    <!-- Ajoutez plus d'éléments d'items selon le nombre de messages -->
  </ion-list>
</ion-content>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Channels</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>Général</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Communauté</ion-label>
      </ion-item>
      <!-- Ajoutez plus d'éléments d'items pour d'autres canaux si nécessaire -->
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-footer class="footDisable" *ngIf="!showForm">
  <form (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-input type="text" placeholder="Message" name="message" [(ngModel)]="messageText"></ion-input>
      <ion-button type="submit" slot="end">Send</ion-button>
    </ion-item>
  </form>
</ion-footer>